body {
       background-color: lightblue;
}

nav {
       border: 1px;
       background-color: white;
       color: white;
       padding: 6xp;
}






.class {
       border: 1px;
       color: black;
}